@import '../base/basic.css';
@import 'form.css';

.login{
    justify-content: center;
    align-items: center;
}



/* OVERRIDE */

.form__box--flex{
    justify-content: space-between;
    width: .5rem;
}

.form__flex{
    margin: var(--spacing-20) 0 var(--spacing-8) 0;
    justify-content: space-around;
    width: 35rem;
}

.form__btn{
    width: 15rem;
}

/* EXTRA */

.form__remember{
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: space-between;
}

.form__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__text--link{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
}
